/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{

    background:url("https://images.unsplash.com/photo-1500382017468-9049fed747ef?q=80&w=1600&auto=format&fit=crop")
    no-repeat center center/cover;

    min-height:100vh;
}

.overlay{

    min-height:100vh;

    background:rgba(0,0,0,.55);

    display:flex;

    align-items:center;

}

.glass-card{

    backdrop-filter:blur(15px);

    background:rgba(255,255,255,.12);

    border:1px solid rgba(255,255,255,.25);

    border-radius:25px;

    padding:40px;

    color:white;

    box-shadow:0 15px 40px rgba(0,0,0,.4);

}

h1{

    font-weight:700;

    color:#9df59d;

}

.subtitle{

    color:#ececec;

    margin-bottom:20px;

}

label{

    font-weight:500;

    margin-bottom:5px;

}

.form-control{

    border-radius:12px;

    padding:12px;

    border:none;

}

.form-control:focus{

    box-shadow:0 0 10px #66ff99;

}

.btn-success{

    padding:14px;

    border-radius:15px;

    font-size:18px;

    font-weight:600;

    transition:.3s;

}

.btn-success:hover{

    transform:translateY(-3px);

    box-shadow:0 10px 25px rgba(0,255,100,.4);

}

#result{

    margin-top:25px;

    display:none;

    padding:20px;

    border-radius:15px;

    background:white;

    color:#222;

    text-align:center;

}

.success{

    border-left:6px solid #198754;

}

.error{

    border-left:6px solid red;

}

.crop-name{

    font-size:32px;

    font-weight:700;

    color:#198754;

}

.footer{

    text-align:center;

    color:white;

    margin-top:20px;

    opacity:.8;

}